html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 40px;
}

.header {
  background-color: #d05c2e;
}

h1 {
  display: flex;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: normal;
}

a:hover {
  color: #a63f38;
}
